.container{
    height: 100vh;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    gap: 10px ;
}

.container div{
    background-color: pink;
        font-size: 1.5rem;

         font-family: "Roboto Slab", serif;
         font-optical-sizing: auto;
         font-weight: 700;
         font-style: normal;
}



#header{
    grid-column: 1/ span 12;
}
#navigation{
    grid-column: 4/ span 6;
}
#sidebar{
    grid-row: 2 / span 10;
    grid-column: 1/ span 3;
}
#main{
    grid-row: 3/ span 9;
    grid-column: 4 / span 6;
}
#ads{
    grid-row: 2 / span 10;
    grid-column: 10/ span 3;
}
#footer{
    grid-column: 1 / span 12;
}


@media (max-width:720px) {

    #header{
        grid-column: 1/ span 12;
    }

    #navigation{
        grid-row: 2;
        grid-column: 1/ span 12;
    }

    #sidebar{
        grid-row: 3/ span 9;
        grid-column: 1/ span 3;
    }

    #main{
        grid-row: 3 / span 9;
        grid-column: 4/ span 9;
    }
    #ads{
        grid-row: 12/ span 1;
        grid-column: 1/ span 3;
    }
    #footer{
        grid-column: 4/ span 9;
    }
    
}



/* loader using animation */
.loader{
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    /* border-bottom: 16px solid goldenrod; */
    animation: spin  2s linear infinite;

}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* googlefont and fontawesome for icons and fonts using static icon and cdnjs.json  */

h1{
  font-family: "Alkatra", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

.go{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border: 2px solid brown;
}
.aw{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border: 2px solid greenyellow;
}