#container{
    width: 400px;
    height: 400px;
    border: 2px solid lightseagreen;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.boxs {
    width: 100px;
    height: 100px;
    font-size: 50px;
    border: 2px solid black;
    background-color: grey;
    border-radius: 10px;
    text-align: center;
    
}



#navbar{
    width: 900px;
    height: 50px;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    background-color: pink;
    margin-top: 50px;
    display: flex;
    justify-content:flex-start;
    align-items: center;

}

.options{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    /* border: 1px solid black; */
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}