*{
    text-align: center;
}

#maintopic{
    color: blue;
}

h1,h3,h5{
    font-family: "georgia";
}

.para{
    color: #fff;
    background-color: cornflowerblue;
}

div > button{
    background-color: purple;
    color: azure;
}

button:hover{
    background-color: yellow;
    color: blue;
}

.para:nth-of-type(3n){
    color: yellow;
}


h1::first-letter{
    color: red;
}

#yes:checked + label{
    color: darkgreen;
}



/*ordered these rules specificity
#maincontent
 div .main
.main
h1
 */