<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs template Home Page</title>
</head>
<body>
    <h1>This is a Home Page  1*3</h1>
     <h3> <%= 5*3 %> </h3><!-- ejs tag for output as ejs html enscape -->
     <h3>  <%= "kashiBishwanath".toUpperCase() %></h3>
     <h3> <%= ["ram","shyam","mohan","radha"] [1] %> </h3>
    <P>this is a paragrraph. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt beatae totam, soluta ut, eius ullam nisi quia fugiat, aperiam est atque? Modi, saepe?</P>
    <button>click me</button>
    
</body>
</html>