div{
    background-color: blue !important;
}

/* form{
    background-color: red;
} */

input{
    background-color: inherit;
}

button{
    background-color: inherit;
}

button:hover{
    background-color: red;
}