<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Post In Home Page</title>
</head>
<body> <h2>Give Details of Your Profile</h2> <br>
        <form method="post" action="/posts">
        <input type="text" name="username" placeholder="Enter User name"> <br><br>
        <textarea name="caption" rows="8" cols="55" placeholder="Enter Your Caption"></textarea> <br>
        <input type="text" name="image" placeholder="Paste Image URL here">
        <br><br>
        <button>Submit Post</button>
</body>
</html>