body{
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
/*sidebar start*/
.sidebar{
    background-color: #000;
    width:340px;
    border-radius: 1rem; /*16px of root element*/
    margin-right: 0.5rem;
}
/* navbar start */ .nav{
    height: 100px;
    padding: 0.5rem 0.75rem;
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #fff;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left:1rem;
} /* navbar end */

/*library-start*/.library{
    border-radius: 1rem;
    background-color: #121212;
    margin-top: 0.5rem;
    height: 100%;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}  
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}

.boxs{
    background-color: #232323;
    height: 9rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.8;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.75;
}
.badges{
    border: none;
    border-radius: 100px;
    background-color: #fff;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
    /*library-end*/
/*sidebar end*/

/*main content start*/
.main_content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.75rem 0 1.75rem;
}
  /*sticky-nav start*/
  .sticky-nav{
    background-color: #121212;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
  }
  .sticky-nav-icon{
    margin-left: 0.75rem;
  }
  .sticky-nav-option{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sticky-nav-option button{
    margin-left: 1rem;
  }
  .nav-item{
    margin-right: 1rem;
  }
  .dark-badge{
    background-color: #000;
    color: #fff;
  }
  .user-icon{
    background-color: black;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width:1000px){
    .hide{
        display: none;
    }
  }/*sticky-nav start*/

  /*cards start*/
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.cards{
    background-color: #232323; /*#121212*/
    border-radius: 0.5rem;
    padding: 1rem;
    width: 150px;
    margin:1rem 0 0 1.5rem;
}
/* .cards:hover{
    background-color: #232323;
} */
.card-img{
    width: 100%;
    border-radius: 0.3rem;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.7;
}
/*cards end*/

    /*footer start*/
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lines{
    width: 94%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}                  /*footer end*/
/*main content end*/

/*music-player start*/
.music_player{
    background-color:black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
}
.album{  /*album start*/
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.album-desc{
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
    justify-content: center;
    align-items: center;
}
.album-img{
    height: 56px;
    width: 56px;
    border-radius: 4px;
    cursor: pointer;
}
.album-title{
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 1rem;
    padding: 0 0 0.5rem 0;
    cursor: pointer;
}
.album-title:hover{
    text-decoration: underline;
}
 .album-info{
    position: absolute;
    top: 2rem;
    left: 6.4rem;
    font-size: 12px;
    opacity: 0.7;
    cursor: pointer;
 }
 .album-info:hover{
    opacity: 1;
    text-decoration: underline;
 }
 .album-icon{
    position: absolute;
    left: 15.8rem;
    top: 2.1rem;
    opacity: 0.7;
    cursor: pointer;
 }
 .album-icon:hover{
    opacity: 1;
 } /*album end*/


.player{  /*player start*/
    width: 50%;
    /* background-color: rgb(5, 112, 120); */
}
.player-controls{
    display: flex;
    justify-content:center ;
    align-items: center;
}
.player-controls-icon{
    height: 1rem;
    width: 1rem;
    margin-right: 1.4rem;
    opacity: 0.7;
    margin-top: 0.7rem;
}
.player-controls-icon:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.3rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}/*player end*/


.controls{  /*playback start*/
    width: 25%;
    background-color: #000;
}
.media-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    padding: 0.5rem;
}
.control-icon{
    height: 1.2rem;
    background-color: #b4b3b3;
}
.volume-icon{
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    width: 93px;
}
.volume-icon::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.3rem;
}
.volume-icon::-webkit-slider-thumb{
    appearance: none;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
/*music-player end*/
