/* body {
  font-family: Arial;
}

#mainImg {
  width: 35%;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

/*ADDED*/
/* .green{
    color: aqua;
}
.underline{
    text-decoration: underline red navy;
}

.bgcolor{

    background-color: brown;
} */

/*end*/

/* .boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}  */


/*practice question*/
.red{
  color:red;
}
.blue{
  color: blue;
}
.divs{
  border: 2px solid black;
  background-color: pink;
}



/*assignment answer*/
.btnStyle{
  background-color: blue;
  color: white;
};

.underline{
  text-decoration: underline red;
  color: purple;
};
