/*background images*/
.bgimg{
     width: 400px;
    height: 350px;
     background-color: aquamarine;
     margin: 0 auto;
     margin-bottom: 20px;
    background-image: url("nocopyrightpic.jpg");
    /* background-size: contain; */
    background-size: cover;
    /* background-size: auto; */
     color: red;
     text-align: center;
}
.bgimg:hover{
    box-shadow: 5px 15px 50px blue;
}


/* card hover effect*/

.cards{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    margin: 20px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 10px 15px black ;
    transition: 0.5s;
    
}

.desc{
    padding: 0 3px 2px 10px ;
}

img{
    width: 100%;
    border-radius: 2px;
}

.cards:hover{
    box-shadow: 5px 15px 50px blue;
}


/* positions with their property */
section{
    margin-top: 40px;
    padding: 20px;
}
.static{
    width: 100px;
    height: 100px;
    background-color: #5babe5;
    border: 3px solid red;
    margin: 20px;
    color: yellow;
    font-size: 20px;
    display: inline-block;
}

#stati{
    background-color: blueviolet;
    position: static;
    top: 100px;
    left: 100px;
}

#relat{
    background-color: rgb(7, 205, 219);
    position: relative;
    top: 100px;
    left: 100px;
}

#abso{
    background-color: rgb(32, 233, 145);
    position: absolute;
    top: 100px;
    left: 80px;
}

#fix{
    background-color: rgb(231, 182, 9);
    position: fixed;
    top: 90px;
    left: 630px;
}


/* Smiling Face */

#face{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: rgba(245, 187, 30, 0.833);
    border-radius: 50%;
}

.left-eye , .right-eye{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: inline-block;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 2150px;
    left: 320px;
}

.right-eye{
    left: 480px;
}

#lip{
    width: 200px;
    height: 40px;
    border: 2px solid black;
    border-radius: 0 0 70px 70px;
    background-color: #c31313;
    position: absolute;
    top: 2300px;
    left: 325px;
}