h1{
    border: 8px dotted red;
    /* border-radius: 50%; */
}

div{
    height: 200px;
    width: 500px;
    /* border-width: 5px;
    border-style: solid;
    border-color: aqua; */

    border: 5px solid sandybrown;

    /* border-left-color: aqua;
    border-left-style: dashed;
    border-top: 5px dotted red; */

    border-radius: 20px;
    /* width: 200px;
    height: 200px;
    border-radius: 50%; */

    /* border-top-right-radius: 60px; */
/* 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; */

    padding: 10px 20px 0px 30px;

    /* margin: 50px;

    margin: 20px 30px;

    margin: 30px 40px 0px ; */

    margin: 20px 30px 20px 40px;


}


button{
    border: 4px solid black;
    border-radius: 10px;
    /* padding-left: 10px;
    padding-right: 10px; */
    background-color: red;

    /* padding: 40px; */

    /* padding: 30px 20px; 
       padding : 10px 40px 20px */

    padding: 0px 20px 0px 30px;

    margin: 10px 20px 0px 30px;
}


/* display properties */
/* 
p{
    display: inline ;
    background-color: greenyellow;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 50px;
}

span{
    display: block;
    background-color: yellow;
    border: 2px solid rgb(237, 14, 99);
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 50px;

} */

 
p{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 5px;
    background-color: blueviolet;
    /* display: inline; */
    display: inline-block;
}

#third{
    display: none;
}