*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1,h3{
    color: #b92b27;
}

#login{
    background-color: #fff;
} 
#signup{
    background-color: #b92b27;
    color: white;
}
.upvote{
    background: green;
    color: white;
}

/*descendant selector */
 .post a{
    color: purple;
    background-color: yellow;
 }

 nav ul li a {
    color: pink;
 }

 /*adjacent sibling combinator */
  p+h3{
    text-decoration: underline;
  }

  .upvote + button {
    background-color: cornflowerblue;
    color: darkblue;
  }

  /* child combinator */
  div > input{
    background-color: darksalmon;
  }

  /* attribute selector */
  input [type="text"]{
    color: green;
  }

  input [type = "password"]{
    color: red;
  }

  input[type] {
    background-color: ghostwhite;
  }

  /* practice*/
div[id="myid"] {
    color: green;
}  /* #myid  p{
    color:green; } */

/* pseudo classs */
button:hover{
    background-color: black;
    color: rgb(237, 81, 81);
}

button:active{
    background-color: #65f32c;
    color: blueviolet;
}

p:active {
    font-weight: bold;
    color: aqua;
}

input[type="radio"]:checked +  label { 
    color: red;
    font-weight: bold;
}

.post:nth-of-type(1){
    background-color: rgb(159, 96, 219);
}

/*pseudo elements */
h1::first-letter{
    color: rgb(88, 214, 15);
}
.frst::first-line{
    color: purple;
}
p::selection{
    background-color: rgb(102, 162, 222);
}



