<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit Your Post</h1>
    <h3>Post Id: <%= post.id  %></h3>
    <h4>Post Username: @<%= post.username  %> </h4>
    <form action="/posts/<%= post.id  %>?_method=PATCH" method="post">
    <textarea name="content" rows="5" cols="40"> <%= post.content %> </textarea>
        <button>Submit</button>
    </form>
</body>
</html>