<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <h1>Add Your Details Here</h1> <br>
    <center>
    <h2>Give Details:</h2> <br>
        <form method="post" action="/user">
        <input type="text" name="username" placeholder="Enter User name"> <br><br>
       <input type="password" name="password" placeholder="Enter Strong password">
        <br> <br>
        <input type="email" name="email" placeholder="abc@gmail.com">
        <br><br>
        <button>Submit Detail</button>
        </center>
</body>
</html>